$white: #ffffff;
$black: #000000;
$blue-1: #185a7d;
$blue-2: #01426a;
$blue-3: #2c85bc;
$blue-4: #9bb8d3;
$blue-5: #4f89ac;
$blue-6: #248db0;
$blue-7: #e7eff5;
$neutral-black-1: #4b4b4b;
$neutral-gray-1: #e6e6e6;
$neutral-gray-2: #aaaaaa;
$neutral-gray-3: #f2f2f2;
$neutral-gray-4: #f8f8f8;
$red-error-1: #df1c24;
$red-error-2: #f89896;
$red-error-3: #ff3627;
$yellow-1: #ffc600;
$yellow-2: #ffdf7b;
$yellow-3: #ffd342;
