@import 'colors.scss';

$primary-color-range: (
  200: $blue-5,
  500: $blue-6,
  700: $blue-2,
  contrast: (
    200: $black,
    500: $white,
    700: $white,
  ),
);

$accent-color-range: (
  200: $yellow-2,
  500: $yellow-3,
  700: $yellow-1,
  contrast: (
    200: $blue-2,
    500: $blue-2,
    700: $blue-2,
  ),
);

$warn-color-range: (
  200: $red-error-2,
  500: $red-error-3,
  700: $red-error-1,
  contrast: (
    200: $black,
    500: $white,
    700: $white,
  ),
);
